.App {
  min-height: 30em;
  min-width: 70em;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
  background-color: #fff;
  margin: 2em;
  padding: 0 1em;
  color: #333;
}
.App>h1{
  font-family: "Times New Roman", Times, serif;
}
